html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
}

h1, section {
    font-family: 'Raleway', sans-serif;
    margin: auto;;
}

section {
    margin-bottom: 25px;
}

img {
    width: auto;
    height: 25px;
    margin: auto 0;
}

section {
    background-color: #ddd
}

a {
    margin: auto;
    text-decoration: none;
}